{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% block title %}

        <title>miaomiao</title>

    {% endblock %}

    {% block js %}


    {% endblock %}

    {% block css %}


    {% endblock %}

</head>
<body>
{% block page_content %}

    <div id="div_contaier">

        <div id="div_left_img_big"></div>
        <span id="span_handu">韩都衣舍</span>
        <div id="div_name"></div>
        <div id="div_feature"></div>
        <div id="div_price"></div>
        <div id="div_color"></div>
        <div id="div_size"></div>
        <div id="div_num"></div>
        <div id="div_buy"></div>


    </div>

{% endblock %}
</body>
</html>