{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block title %}

        <title>miaomiao</title>

    {% endblock %}

    {% block js %}

        <script src="{% static 'js/main/index.js' %}"></script>

    {% endblock %}

    {% block css %}

        <link rel="stylesheet" href="{% static 'css/main/index.css' %}">

    {% endblock %}

</head>
<body>

{% block page_content %}

    <div id="div_all_container">

        <div class="swiper-container swiper-container_1">

            <div class="swiper-wrapper">

                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>

            </div>

        </div>

        <div id="div_type_list">

            <a href="{% url 'main:index' %}" class="a_type">全部</a>
            {% for type in typelist %}

                <a href="{% url 'main:classify' type.name %}" class="a_type">{{ type.name }}{{ type.total }}</a>

                {% if forloop.counter|divisibleby:4 %}

                    <br/>

                {% endif %}

            {% endfor %}

        </div>

        <div id="div_container">

            <div class="row">
                {% for every in data %}

                    <div class="col-sm-6 col-md-3" id="div_every">
                        <div class="thumbnail">
                            <a href="#"><img src="{{ every.imgurl }}"></a>
                            <div class="caption">
                                <h5>{{ every.name }}</h5>
                                <h3>{{ every.price }}</h3>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>

            <div id="div_paginator">

                <a href="{% url 'main:page_chage' type_name '0' present_page %}" id="a_pre_page"><img src="{% static 'img/main/pre.png' %}"></a>
                <span id="span_num_total">{{ present_page }}/{{ paginator.num_pages }}</span>
                <a href="{% url 'main:page_chage' type_name '1' present_page %}" id="a_next_page"><img src="{% static 'img/main/next.png' %}"></a>

            </div>

        </div>
    </div>
{% endblock %}

</body>
</html>